@use "./variables.scss" as *;

.candidate-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    // border: 1px solid $dark-gray;
    background: linear-gradient(180deg, transparent -50%, var(--candidate-gradient-end) 100%);
    border-radius: 10px;
    padding: 3px 10px;
    align-items: center;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    cursor: pointer;

    .inputs {
        display: flex;
        gap: 0.8rem;

        input {
            width: 100%;
            background-color: inherit;
            border: none;
            padding: 0.2rem 0.4rem;
            font-size: inherit;
            color: inherit;
            font-family: inherit;
            border-bottom: 1px solid $dark-gray;

            &::placeholder {
                color: $pure-black;
                font-size: 0.9rem;
                font-style: italic;
            }
        }

        .serial {
            width: 80px;
        }

        .name {
            width: 220px;
        }

        .phone {
            width: 150px;
        }
    }

    .candidate-buttons {
        display: flex;
        gap: 0.8rem;
    }
}


.error-bubble {
  position: absolute;
  background: $dusty-red;
  color: white;
  padding: 0.5rem;
  border-radius: 4px;
  font-size: 0.8rem;
  margin-top: -5rem;
}
