@use './variables.scss' as *;

.job-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
  font-size: 0.9rem;
  margin: 1rem auto;
  padding: 2.3rem;
  border: 2px solid rgb(95, 175, 212);
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  width: 460px;
  background-color: inherit;
  color: inherit;

  div {
    display: flex;
    gap: 0.1rem;
    flex-direction: column;
    width: 100%;
  }

  label {
    font-weight: 500;
  }

  input,
  textarea {
    background-color: inherit;
    border: none;
    border-radius: 3px;
    font-family: inherit;
    width: 100%;
    font-size: inherit;
    padding: 4px 6px;
    color: inherit;
    border-bottom: 1px solid $dark-gray;
  }

  textarea {
    resize: none;
    width: 100%;
    height: 200px;
  }

  > :first-child {
    //job title
    margin-bottom: 1rem;
    font-size: 1rem;
  }

  > div:last-of-type {
    //unemployed checkbox
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: fit-content;
  }
}
