.main-main-section { //the element main inside MainSection
    grid-area: main;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;
    align-items: flex-start;
}