.modal {
  position: absolute;
  z-index: 100;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  background-color: inherit;
  width: 400px;
  padding: 1rem;
  border-radius: 5px;

  .modal-buttons {
    display: flex;
    gap: 1rem;
    justify-content: space-around;
  }
}
